<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="chat" method="post">
      <select id="list" name="port">
        <% robots.forEach(function(robot){ %>
    				<option value="<%=robot.port%>"><%=robot.name%></option> <!-- Récupération du port-->
            <input type="hidden" name="name" value="<%=robot.name%>">
    				<% }); %>
      </select>
      <br>
      <input type="hidden" name="pseudo" value="<%=pseudo%>">

      <input type="submit" name="" value="Submit">
    </form>

    <form action="choice" method="post">
      <input type="hidden" name="pseudo" value="<%=pseudo%>">
      <input type="submit" name="" value="back">
    </form>
  </body>
</html>
